# url: "https://thesurveystation.netlify.app"
url: "https://thesurveystation.com"
title: "Zhanna's SurveyStation" # the name of your site, e.g. ACME Corp.
# timezone: 'America/New_York'  Commented out 2/2/2026 to try to get timestamps working correctly on all-points.md.

port: 4001

collections:
  surveymarks:
    output: true
    permalink: /surveymarks/:title/
  reference_marks:
    output: true
    permalink: /reference-marks/:title/  
  pages:
    output: true
  posts:
    permalink: /:year/:month/:day/:title

defaults:
  - scope:
      path: ""
      type: "surveymarks"
    values:
      layout: "surveymark"
      mark-type: "surveymark"
      zoom: 15
  - scope:
      path: ""
      type: "reference_marks"
    values:
      layout: "reference-mark"
      mark-type: "reference-mark"
      zoom: 15
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"   
  - scope:
      path: "year"
      type: "pages"
    values:
      page-type: "year-index"    
  - scope:
      path: "" # an empty string here means all files in the project
      type: pages # Apply the default values below only to pages
    values:
      css: /assets/usgs-datasheets/css/main.css
      source: /assets/usgs-datasheets/js/usgs-quads.js    
          
plugins:
  - jekyll-datapage-generator

page_gen:
- data: 'types'
  template: 'marker-types'
  index_files: false
  name: type
  dir: marker-type
- data: 'agencies'
  template: 'agencies'
  index_files: false
  name: slug
  dir: agency  
- data: 'years'
  template: 'years-newtabs'
  index_files: false
  name: year
  dir: year   
- data: 'locations'
  template: 'locations'
  index_files: false
  name: state
  dir: location    
- data: 'states-usgs-datasheets'
  template: 'usgs-datasheets'
  index_files: false
  name: 'state'
  dir: usgs-datasheets 

sass:
  quiet_deps: true