<footer>
    <footer-widgets>
        <recent-posts>
            {% include recent-posts.html %}        
        </recent-posts>
        <popular-pages>
            {% include popular-pages.html %}
        </popular-pages>
        <recent-recoveries>
            {% include recent-recoveries.html %}
        </recent-recoveries>
    </footer-widgets>
    <site-info>©{{ 'now' | date: "%Y" }} • <a href="{{ site.url }}">{{ site.title }}</a></site-info>
</footer>
<script src="/assets/js/main.js" crossorigin="anonymous"></script>
<script src="/assets/js/accessible-tabs.js"></script>
<script src="/assets/js/lightgallery.min.js"></script>
<script src="/assets/js/plugins/relativeCaption/lg-relative-caption.min.js"></script>
<script>
    document.querySelectorAll('.jg').forEach((lightGalleryElement) => {
      lightGallery(lightGalleryElement, {
        selector: ".card",
        plugins: [lgRelativeCaption],
        appendSubHtmlTo: '.lg-item',
        relativeCaption: true,
        mobileSettings: {
          controls: false, 
          showCloseIcon: true, 
          download: true,
        },
      })
    });
    document.querySelectorAll('.gallery').forEach((lightGalleryElement) => {
      lightGallery(lightGalleryElement, {
        selector: ".card",
        plugins: [lgRelativeCaption],
        appendSubHtmlTo: '.lg-item',
        relativeCaption: true,
        mobileSettings: {
          controls: false, 
          showCloseIcon: true, 
          download: true,
        },
      })
    });
    $('.jg').justifiedGallery({
      rowHeight : 200,
      margins : 10,
      lastRow: 'nojustify'
    });
    $('.jg.2by2').justifiedGallery({
      rowHeight : 230,
      margins : 10,
      lastRow: 'nojustify'
    });
    $('.jg.single').justifiedGallery({
      rowHeight : 240,
      margins : 10,
      lastRow: 'nojustify'
    });
    $('.jg.special').justifiedGallery({
      rowHeight : 210,
      margins : 10,
      lastRow: 'nojustify'
    }); 
    $('.jg.special2').justifiedGallery({
      rowHeight : 240,
      margins : 10,
      lastRow: 'nojustify'
    }); 
  </script>

<script>
    /* Datatables init */
    $(document).ready( function () {
        $('#historicalAirwayMaps').DataTable({
            paging: false,
            responsive: true
        });
        $('.referenceMarks').DataTable({
          info: false,  
          paging: false,
          searching: false,
          responsive: true
        });
    } );
</script>