<footer>
    <footer-widgets>
        <popular-pages>
            {% include popular-pages.html %}
        </popular-pages>
        <recent-recoveries>
            {% include recent-recoveries.html %}
        </recent-recoveries>
        <contact-form>
          {% include contact-form.html %}
        </contact-form>
    </footer-widgets>
    <site-info>©{{ 'now' | date: "%Y" }} • <a href="{{ site.url }}">{{ site.title }}</a></site-info>
</footer>
<button onclick="topFunction()" id="scroll-to-top" title="Scroll to top">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
  </svg>
</button>
<script src="/assets/js/main.js" crossorigin="anonymous"></script>
<script src="/assets/js/accessible-tabs.js"></script>
<script src="/assets/js/lightgallery.min.js"></script>
<script src="/assets/js/plugins/relativeCaption/lg-relative-caption.min.js"></script>
<script>
    document.querySelectorAll('.jg').forEach((lightGalleryElement) => {
      lightGallery(lightGalleryElement, {
        selector: ".card",
        plugins: [lgRelativeCaption],
        appendSubHtmlTo: '.lg-item',
        relativeCaption: true,
        mobileSettings: {
          controls: false, 
          showCloseIcon: true, 
          download: true,
        },
      })
    });
    document.querySelectorAll('.gallery').forEach((lightGalleryElement) => {
      lightGallery(lightGalleryElement, {
        selector: ".card",
        plugins: [lgRelativeCaption],
        appendSubHtmlTo: '.lg-item',
        relativeCaption: true,
        mobileSettings: {
          controls: false, 
          showCloseIcon: true, 
          download: true,
        },
      })
    });
    $('.jg').justifiedGallery({
      rowHeight : 200,
      margins : 10,
      lastRow: 'nojustify'
    });
    $('.jg.justify').justifiedGallery({
    rowHeight : 200,
    margins : 4,
    lastRow: 'justify'
    });
    $('.jg.2by2').justifiedGallery({
      rowHeight : 230,
      margins : 10,
      lastRow: 'nojustify'
    });
    $('.jg.single').justifiedGallery({
      rowHeight : 240,
      margins : 10,
      lastRow: 'nojustify'
    });
    $('.jg.special').justifiedGallery({
      rowHeight : 210,
      margins : 10,
      lastRow: 'nojustify'
    }); 
    $('.jg.special2').justifiedGallery({
      rowHeight : 240,
      margins : 10,
      lastRow: 'nojustify'
    }); 
  </script>

<script>
    /* Datatables init */
    $(document).ready( function () {
        $('#historicalAirwayMaps').DataTable({
            paging: false,
            responsive: true
        });
        $('.grandCanyonSurvey').DataTable({
            paging: false,
            order: [],
            responsive: true
        });
        $('.referenceMarks').DataTable({
          info: false,  
          paging: false,
          searching: false,
          responsive: true
        });
    } );
</script>