{% if page.basemap %}
{% assign basemap = page.basemap %}
{% else %}
{% assign basemap = 'USGS Topo' %}
{% endif %}

{% assign mapid = include.map_id %}
{% assign zoom = include.zoom %}
{% assign align = include.align %}
{% assign height = include.height %}
{% assign geojson_file = include.geojson %}
{% assign iconcolor = include.icon_color %}

<div class="simple-map align{{ align }} clearboth" style="height:{{ height }};">
  <div class="map" id="{{ page.id }}-{{ mapid }}"></div>
  <div id="google-map"></div>
</div>

<!-- Load common basemaps -->
<script src="/assets/data/basemaps.js"></script>
<script>
  const markMap = L.map('{{ page.id }}-{{ mapid }}', { fullscreenControl: true, }).setView([40, -75], {{ zoom }});

  objBasemaps['{{ basemap }}'].addTo(markMap); // Assign default basemap

  const geoJson = "/assets/data/geojson/{{ geojson_file }}";

  $.getJSON(geoJson, function (geojsonData) {

    const allPoints = L.geoJson(geojsonData, {
      pointToLayer: function (feature, latlng) {

        const iconColor = "{{ iconcolor }}";

        const myIcon = L.divIcon({
          className: "number-icon-" + iconColor,
          iconSize: [25, 41],
          iconAnchor: [12, 46],
          popupAnchor: [3, -40],
          html: feature.properties.number
        });

        return new L.marker(latlng, { icon: myIcon });
      },

      onEachFeature: function (feature, layer) {
        layer.bindPopup("<a href=" + feature.properties.link_href + "><b>" + feature.properties.name + '</b></a><br>' + feature.properties.desc);
      }
    }).addTo(markMap);

    const objOverlays = { "POIs": allPoints };

    const ctlLayers = L.control.layers(objBasemaps, objOverlays).addTo(markMap);

    L.control.polylineMeasure({ unit: 'landmiles', showBearings: true }).addTo(markMap);

    markMap.fitBounds(allPoints.getBounds().pad(.5));
    createGoogleMapLink(markMap);
  });

  function createGoogleMapLink(map) {
    const center = markMap.getBounds().getCenter();
    const googleMapLink = document.getElementById("google-map");
    googleMapLink.innerHTML = "<a href=https://www.google.com/maps/search/?api=1&query=" + center.lat + "," + center.lng + ">Google Map</a>";
  }

</script>