{% if page.basemap %}
  {% assign basemap = page.basemap %}
{% else %}
  {% assign basemap = 'USGS Topo' %}
{% endif %}

{% assign mapid = include.map_id %}
{% assign zoom = include.zoom %}
{% assign align = include.align %}
{% assign height = include.height %}
{% assign gpx_file = include.gpx %}

<div class="simple-map align{{ align }} clearboth" style="height:{{ height }};">
   <div class="map" id="{{ page.id }}-{{ mapid }}"></div>
   <div id="google-map"></div>
</div>

<!-- Load common basemaps -->
<script src="/assets/data/basemaps.js"></script>
<script>
   var markMap = L.map('{{ page.id }}-{{ mapid }}', { fullscreenControl: true, }).setView([40,-75], {{ zoom }});
   
   objBasemaps['{{ basemap }}'].addTo(markMap); // Assign default basemap
   
   var gpx = "/assets/data/gpx/{{ gpx_file }}";
    var lyrGPX = new L.GPX(gpx, {
      async: true,
      markers: {
        wptIconUrls: {
          '': '200px-Yellow_icon.svg.png',
          'Flag, Blue': 'blue-flag-32.png'
        },   
        iconSize: [20, 20],
        iconAnchor: [0, 16],             
        startIcon: null,
        endIcon: null
      },
      polyline_options: {
        color: "red"
      }
    }).on('loaded', function(e) {
      markMap.fitBounds(e.target.getBounds().pad(0.1));
      var center = markMap.getBounds().getCenter();
      var googleMapLink = document.getElementById("google-map");
      googleMapLink.innerHTML = "<a href=https://www.google.com/maps/search/?api=1&query=" + center.lat + "," + center.lng + ">Google Map</a>";
  }).addTo(markMap);

   var objOverlays = {
      "GPX": lyrGPX
   };     

   var ctlLayers = L.control.layers(objBasemaps, objOverlays).addTo(markMap);  
   
   L.control.polylineMeasure({unit: 'landmiles', showBearings: true}).addTo(markMap); 

</script>