<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <script src="https://kit.fontawesome.com/cf0805ef87.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/assets/css/justifiedGallery.min.css" />
  <link type="text/css" rel="stylesheet" href="/assets/css/lightgallery-bundle.min.css" />

  <link rel="stylesheet" href="/assets/css/super-search.css">

  <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/assets/img/favicon/favicon.svg" />
  <link rel="shortcut icon" href="/assets/img/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="Zhanna's SurveyStation" />
  <link rel="manifest" href="/assets/img/favicon/site.webmanifest" />

  {% if page.features contains "datatables" or layout.features contains "datatables" %}
  <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/3.0.3/css/responsive.dataTables.min.css" />
  {% endif %}

  {% if page.features contains "leaflet" or layout.features contains "leaflet" %}
  <!-- Leaflet.js -->
  <link rel="stylesheet" href="/assets/vendor/leaflet/leaflet.css" />
  <script src="/assets/vendor/leaflet/leaflet.js"></script>
  <!-- Leaflet PolylineMeasure -->
  <link rel="stylesheet" href="/assets/vendor/leaflet-polylinemeasure/Leaflet.PolylineMeasure.css" />
  <script src="/assets/vendor/leaflet-polylinemeasure/Leaflet.PolylineMeasure.js"></script>
  <!-- Leaflet Fullscreen -->
  <script src="/assets/vendor/leaflet-fullscreen/Leaflet.fullscreen.min.js"></script>
  <link href="/assets/vendor/leaflet-fullscreen/leaflet.fullscreen.css" rel="stylesheet" />
  {% endif %}

  {% if page.features contains "leaflet-enhanced" or layout.features contains "leaflet-enhanced" %}
  <!-- Geocoder API -->
  <link rel="stylesheet" href="/assets/vendor/usgs-waterdata-geocoder/geocoder.min.css">
  <script src="/assets/vendor/usgs-waterdata-geocoder/geocoder.min.js"></script>
  <!-- Leaflet Search -->
  <link rel="stylesheet" href="/assets/css/leaflet-search.min.css">
  <script src="/assets/js/leaflet-search.min.js"></script>
  <!-- Leaflet MapCenterCoord -->
  <link rel="stylesheet" href="/assets/css/leaflet-mapcentercoord.css">
  <script src="/assets/js/leaflet-mapcentercoord.js"></script>
  <!-- Marker Clusterer -->
  <link rel="stylesheet" href="/assets/vendor/leaflet-markercluster/MarkerCluster.css" />
  <link rel="stylesheet" href="/assets/vendor/leaflet-markercluster/MarkerCluster.Default.css" />
  <script src="/assets/vendor/leaflet-markercluster/leaflet.markercluster.js"></script>
  <!-- Grouped Layer Control -->
  <link rel="stylesheet"
    href="/assets/vendor/leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.min.css" />
  <script src="/assets/vendor/leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.min.js"></script>
  <!-- Leaflet AwesomeMarkers -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet.awesome-markers@2.0.5/dist/leaflet.awesome-markers.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <script src="https://unpkg.com/leaflet.awesome-markers@2.0.5/dist/leaflet.awesome-markers.js"></script>
  <!-- Leaflet GPX -->
  <script src="/assets/vendor/leaflet-gpx/gpx.min.js"></script>
  {% endif %}

  {% if page.features contains "noUI-slider" or layout.features contains "noUI-slider" %}
  <!-- NoUI Slider -->
  <link rel="stylesheet" href="/assets/vendor/noUiSlider/nouislider.min.css" />
  <script src="/assets/vendor/noUiSlider/nouislider.min.js"></script>
  {% endif %}

</head>