{% if page.uid %}
     {% assign uid = page.uid %}
  {% elsif page.pid %}
     {% assign uid = page.pid %}   
  {% else %}
     {% assign uid = page.designation %}
{% endif %}

{% assign uid = uid | slugify %}

{% if page.basemap %}
      {% assign basemap = page.basemap %}
   {% else %}
     {% assign basemap = 'USGS Topo' %}
{% endif %}

<div class="map" id="{{ uid }}"></div>
<div><a href="https://www.google.com/maps/search/?api=1&query={{ page.latitude }},-{{ page.longitude }}">Google Map</a>
   <a href="/map-of-recoveries/?lat={{ page.latitude }}&lng=-{{ page.longitude }}&zoom=16">View Full Map</a></div>

<!-- Load common basemaps -->
<script src="/assets/data/basemaps.js"></script>
<script>
   var markMap = L.map('{{ uid }}', { fullscreenControl: true, }).setView([{{ page.latitude }}, -{{ page.longitude }}], {{ page.zoom }});
   
   var marker = L.marker([{{ page.latitude }}, -{{ page.longitude }}]).addTo(markMap);
   marker.bindPopup("<h1>{{ page.designation }}</h1><p>Visited on {{ page.date | date: '%B %e, %Y' }}</p>");

   objBasemaps['{{ basemap }}'].addTo(markMap); // Assign default basemap
   
   var objOverlays = {
      '{{ page.designation }}' : marker
   };     

   var ctlLayers = L.control.layers(objBasemaps, objOverlays).addTo(markMap);  
   
   L.control.polylineMeasure({unit: 'landmiles', showBearings: true}).addTo(markMap); 
</script>