{% if page.uid %}
     {% assign uid = page.uid %}
  {% elsif page.pid %}
     {% assign uid = page.pid %}   
  {% else %}
     {% assign uid = page.designation %}
{% endif %}

{% assign uid = uid | slugify %}

<div class="map" id="{{ uid }}"></div>
<div><a href="https://www.google.com/maps/search/?api=1&query={{ page.latitude }},-{{ page.longitude }}">Google Map</a></div>

<script>
   var markMap = L.map('{{ uid }}', { fullscreenControl: true, }).setView([{{ page.latitude }}, -{{ page.longitude }}], {{ page.zoom }});
   var marker = L.marker([{{ page.latitude }}, -{{ page.longitude }}]).addTo(markMap);

   var lyrUSGSTopo = L.tileLayer('https://caltopo.s3.amazonaws.com/topo/{z}/{x}/{y}.png', {"attribution":"USDA images from <a href='http://caltopo.com/'>CalTopo</a>", "minZoom":6, "maxZoom":16});

   var lyrNationalMap = L.tileLayer('https://basemap.nationalmap.gov/arcgis/rest/services/USGSTopo/MapServer/tile/{z}/{y}/{x}', {
	   maxZoom: 18,
	   attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });

   var lyrStreets = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}', {
            attribution: 'Tiles &copy; Esri &mdash; Source: Esri, DeLorme, NAVTEQ, USGS, Intermap, iPC, NRCAN, Esri Japan, METI, Esri China (Hong Kong), Esri (Thailand), TomTom, 2012'
        });

   var lyrNatGeo = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/NatGeo_World_Map/MapServer/tile/{z}/{y}/{x}', {
            attribution: 'Tiles &copy; Esri &mdash; National Geographic, Esri, DeLorme, NAVTEQ, UNEP-WCMC, USGS, NASA, ESA, METI, NRCAN, GEBCO, NOAA, iPC',
            maxZoom: 16
        });     
   
   var lyrImageryClarity = L.tileLayer('https://clarity.maptiles.arcgis.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
         attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
      });     

   markMap.addLayer(lyrUSGSTopo);

   var objBasemaps = {
            "USGS Topo": lyrUSGSTopo,
            "US National Map": lyrNationalMap,
            "OpenStreetMap": lyrStreets,            
            "National Geographic": lyrNatGeo,
            "Imagery (Clarity)": lyrImageryClarity
        };     
     
   var objOverlays = {
        };     

   var ctlLayers = L.control.layers(objBasemaps, objOverlays).addTo(markMap);  
   
   L.control.polylineMeasure({unit: 'landmiles', showBearings: true}).addTo(markMap); 

   marker.bindPopup("<h1>{{ page.designation }}</h1><p>Visited on {{ page.date | date: '%B %e, %Y' }}</p>");
</script>