<nav class="nav-wrapper">
  {% if site.data.navigation.toc[0] %}
    <ul class="menu container" style="margin: 0 auto 1.2rem auto;">
      <li class="logo" style="float: left;"><a href="/"><img src="/assets/img/logo.png" alt="Zhanna's SurveyStation"></a></li>
      {% for item in site.data.navigation.toc %}  
        {% if item.subfolderitems[0] %}
          <li class="item has-submenu"><a tabindex="0">{{ item.title }}</a>
            <ul class="submenu">
              {% for entry in item.subfolderitems %}
                  <li class="subitem"><a href="{{ entry.url }}">{{ entry.page }}</a></li>
              {% endfor %}
            </ul>
          </li>            
        {% else %}
          <li class="item {% if page.url contains item.url %}active{% endif %}"><a href="{{ item.url | replace: ' ', '-'}}">{{ item.title }}</a></li>
        {% endif %}              
      {% endfor %}
      <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
    </ul>
  {% endif %}
</nav> 