<div class="fullscreen-map-wrapper">
    <div id="recoveries-map" class="map"></div>
</div>

<!-- Load common basemaps -->
<script src="/assets/data/basemaps.js"></script>
<script>

    let mapFullExtent = false;

    function getQueryStringValue (key) {  
        return decodeURIComponent(window.location.search.replace(new RegExp("^(?:.*[&\\?]" + encodeURIComponent(key).replace(/[\.\+\*]/g, "\\$&") + "(?:\\=([^&]*))?)?.*$", "i"), "$1"));  
    } 
    
    console.log((getQueryStringValue("lat")));

    if (getQueryStringValue("lat") == '') {
        mapFullExtent = true;
    }   

    console.log(mapFullExtent);
    
    var lat = getQueryStringValue("lat") || '51.9';
    var lng = getQueryStringValue("lng") || '7.9';
    var zoom = getQueryStringValue("zoom") || '9';

    var sliderControl = null;
    
    var recoveriesMap = L.map('recoveries-map', { fullscreenControl: true, geocoderControl: true }).setView([lat, lng], zoom);

    objBasemaps['OpenStreetMap'].addTo(recoveriesMap); // Assign default basemap

    var recSub = L.featureGroup.subGroup().addTo(recoveriesMap);
    var nfSub = L.featureGroup.subGroup().addTo(recoveriesMap);
    var neSub = L.featureGroup.subGroup().addTo(recoveriesMap);

    $.getJSON("/assets/data/all-points.geojson", function (geojsonData) {
     
        var categories = {},
            Status;

        function PoIstile(feature, latlng) {
            switch (feature.properties.status) {
                case "Recovered":
                    var visitedDateFormatted = new Date(feature.properties.time).toLocaleString("en-US", dateOptions);
                    function determineHasImage(imageUrl) {
                    if (!feature.properties.image)
                        return "";
                    else
                        return feature.properties.image;
                    }
                    var recoveredIcon = new L.icon({
                        iconUrl: '/assets/img/marker-icon-green.png',
                        iconSize: [22, 30], // size of the icon
                        iconAnchor: [11, 30], // point of the icon which will correspond to marker's location
                        popupAnchor: [-3, -26] // point from which the popup should open relative to the iconAnchor    
                    });
                    return L.marker(latlng, {
                        icon: recoveredIcon
                    }).bindPopup("<b><a href=" + feature.properties.permalink + " target='_blank'>" + feature.properties.designation + "</a></b>" + '<br/>' + "<b>Status: </b>" + feature.properties.status + ", " + feature.properties.condition + '<br/>' + "<b>Date: </b>" + visitedDateFormatted + "<br><img style='max-width:100%;' src='" + determineHasImage(feature.properties.image) + "'>").addTo(recSub);
                case "Not Found":
                    var visitedDateFormatted = new Date(feature.properties.time).toLocaleString("en-US", dateOptions);
                    function determineHasImage(imageUrl) {
                    if (!feature.properties.image)
                        return "";
                    else
                        return feature.properties.image;
                    }
                    var notfoundIcon = new L.icon({
                        iconUrl: '/assets/img/marker-icon-red.png',
                        iconSize: [22, 30],
                        iconAnchor: [11, 30],
                        popupAnchor: [-3, -26]
                    });
                    return L.marker(latlng, {
                        icon: notfoundIcon
                    }).bindPopup("<b><a href=" + feature.properties.permalink + " target='_blank'>" + feature.properties.designation + "</a></b>" + '<br/>' + "<b>Status: </b>" + feature.properties.status + ", " + feature.properties.condition + '<br/>' + "<b>Date: </b>" + visitedDateFormatted + "<br><img style='max-width:100%;' src='" + determineHasImage(feature.properties.image) + "'>").addTo(nfSub);
                case "Note Entered":
                    var visitedDateFormatted = new Date(feature.properties.time).toLocaleString("en-US", dateOptions);
                        function determineHasImage(imageUrl) {
                        if (!feature.properties.image)
                            return "";
                        else
                            return feature.properties.image;
                        }
                    var noteIcon = new L.icon({
                        iconUrl: '/assets/img/marker-icon-blue.png',
                        iconSize: [22, 30],
                        iconAnchor: [11, 30],
                        popupAnchor: [-3, -26]
                    });
                    return L.marker(latlng, {
                        icon: noteIcon
                    }).bindPopup("<b><a href=" + feature.properties.permalink + " target='_blank'>" + feature.properties.designation + "</a></b>" + '<br/>' + "<b>Status: </b>" + feature.properties.status + ", " + feature.properties.condition + '<br/>' + "<b>Date: </b>" + visitedDateFormatted + "<br><img style='max-width:100%;' src='" + determineHasImage(feature.properties.image) + "'>").addTo(neSub);
            }
        };

        var dateOptions = {
            month: "long",
            day: "numeric",
            year: "numeric"            
        }

        var allPoints = L.geoJson(geojsonData, {
            pointToLayer: PoIstile,
            onEachFeature: function (feature, layer) {

                // function determineHasImage(imageUrl) {
                //     if (!feature.properties.image)
                //         return "";
                //     else
                //         return feature.properties.image;
                // }

                // const visitedDate = new Date(feature.properties.time);
                                
                // var visitedDateFormatted = visitedDate.toLocaleString("en-US", dateOptions);

                // layer.bindPopup("<b><a href=" + feature.properties.permalink + " target='_blank'>" + feature.properties.designation + "</a></b>" + '<br/>' + "<b>Status: </b>" + feature.properties.status + ", " + feature.properties.condition + '<br/>' + "<b>Date: </b>" + visitedDateFormatted + "<br><img style='max-width:100%;' src='" + determineHasImage(feature.properties.image) + "'>");

            }
        });

        var overlayMap = {
            "Recovered": recSub,
            "Not Found": nfSub,
            "Note Entered": neSub
        };

        if (mapFullExtent === true) {
            recoveriesMap.fitBounds(recSub.getBounds(), {
                padding: [20, 20]
            });
        } else {
            var popup = L.popup([lat, lng]).openOn(recoveriesMap);
        }

        L.markerClusterGroup.layerSupport({
            disableClusteringAtZoom: 17
        }).addTo(recoveriesMap).checkIn(allPoints);


        var textSearch = L.control.search({
            layer: allPoints,
            initial: false,
            zoom: 9,
            marker: {
                animate: false,
                circle: false,
                icon: false
            },
            textPlaceholder: 'Search by designation ...',
            propertyName: 'designation',
            hideMarkerOnCollapse: true,
            moveToLocation: function (latlng, title, map) {
                var zoom = 17;
                recoveriesMap.setView(latlng, zoom);
            }
        }).addTo(recoveriesMap);

        textSearch.on('search:locationfound', function (event) {
            event.layer.openPopup();
        });

        L.control.layers(objBasemaps, overlayMap, {
            collapsed: true
        }).addTo(recoveriesMap);

        var sliderControl = L.control.sliderControl({
            layer: allPoints,
            position: "bottomleft",
            range: true,
            timeAttribute: 'time',
            orderDesc: true,
            showAllOnStart: true,
            timeStrLength: 10
        });

        recoveriesMap.addControl(sliderControl);
        // Initialize the slider
        sliderControl.startSlider();

    });
</script>