{% if page.basemap %}
      {% assign basemap = page.basemap %}
   {% else %}
     {% assign basemap = 'USGS Topo' %}
{% endif %}

<div style="height: {{ page.height_px }}px; width: {{ page.width_px }}px" class="align{{ page.align }}">
   <div class="map" id="{{ page.id }}"></div>
   <div><a href="https://www.google.com/maps/search/?api=1&query={{ page.latitude }},{{ page.longitude }}">Google Map</a></div>
</div>

<!-- Load common basemaps -->
<script src="/assets/data/basemaps.js"></script>
<script>
   var markMap = L.map('{{ page.id }}', { fullscreenControl: true, }).setView([{{ page.latitude }}, {{ page.longitude }}], {{ page.zoom }});
   
   var marker = L.marker([{{ page.latitude }}, {{ page.longitude }}]).addTo(markMap);
   marker.bindPopup("{{ page.marker_name }}");

   objBasemaps['{{ basemap }}'].addTo(markMap); // Assign default basemap
   
   var objOverlays = {
      '{{ page.marker_name }}' : marker
   };     

   var ctlLayers = L.control.layers(objBasemaps, objOverlays).addTo(markMap);  
   
   L.control.polylineMeasure({unit: 'landmiles', showBearings: true}).addTo(markMap); 
</script>