{% if page.basemap %}
      {% assign basemap = page.basemap %}
   {% else %}
     {% assign basemap = 'USGS Topo' %}
{% endif %}

{% assign mapid = include.map_id %}
{% assign latitude = include.latitude %}
{% assign longitude = include.longitude %}
{% assign zoom = include.zoom %}
{% assign marker_name = include.marker_name %}
{% assign align = include.align %}
{% assign height = include.height %}
{% assign width = include.width %}

<div style="height: {{ height }}; width: {{ width }}; margin-bottom: 2rem;" class="align{{ align }} clearboth">
   <div class="map" id="{{ page.id }}-{{ mapid }}"></div>
   <div><a href="https://www.google.com/maps/search/?api=1&query={{ latitude }},{{ longitude }}">Google Map</a></div>
</div>

<!-- Load common basemaps -->
<script src="/assets/data/basemaps.js"></script>
<script>
   var markMap = L.map('{{ page.id }}-{{ mapid }}', { fullscreenControl: true, }).setView([{{ latitude }}, {{ longitude }}], {{ zoom }});
   
   var marker = L.marker([{{ latitude }}, {{ longitude }}]).addTo(markMap);
   marker.bindPopup("{{ marker_name }}");

   objBasemaps['{{ basemap }}'].addTo(markMap); // Assign default basemap
   
   var objOverlays = {
      '{{ marker_name }}' : marker
   };     

   var ctlLayers = L.control.layers(objBasemaps, objOverlays).addTo(markMap);  
   
   L.control.polylineMeasure({unit: 'landmiles', showBearings: true}).addTo(markMap); 
</script>