<div id="accordion" class="accordion">

  {% for item in site.data.survey-mark-hunting-resources %}

  <button class="accordion-button" aria-expanded="false" aria-controls="panel-{{ forloop.index }}">{{ item.category
    }}<span class="accordion-icon">&plus;</span></button>
  <div class="panel" id="panel-{{ forloop.index }}">
    <dl>
      {% for entry in item.links %}
      <dt><a href="{{ entry.url }}">{{ entry.title }}</a></dt>
      {% if entry.description %}
      <dd>{{ entry.description | markdownify | remove: '<p>' | remove: '</p>'}}</dd>
      {% endif %}
      {% endfor %}
    </dl>
  </div>

  {% endfor %}

</div>