/* Accordion */

.accordion-container {
    border: 3px solid #e0e0e0;
    overflow: hidden;
}

.accordion-item {
    width: 100%;
}

.accordion-trigger {
    width: 100%;
    display: block;
    background-color: rgb(250, 250, 250);
    color: rgb(0, 0, 0);
    padding: 24px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    text-align: left;
    border: none;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    cursor: pointer;
}

.accordion-item:not(:first-of-type) .accordion-trigger {
    border-top: 3px solid #eaeaea;
}

.accordion-content {
    height: 0;
    margin-left: 2rem;
    margin-right: 3rem;
    overflow: hidden;
    transition: 0.5s;

    p {
        margin: 24px;
    }

    dt {
        margin-bottom: .6rem;
        margin-top: .9rem;
    }

    dd {
        border-bottom: 1px solid #f7f3ef;
        font-size: 85%;
        margin-left: 0;
        padding-bottom: 1rem;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        li {
            margin-bottom: .6rem;
            margin-top: .9rem;
        }
    }
}

.accordion-icon {
    transition: transform 0.5s;
}

.accordion-item.is-active .accordion-icon {
    transform: rotate(45deg);
}

/* Tabs */

.invisible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.recovery-log-tabs-tabs-tabs {
    border-bottom: 1px solid #ddd;

    &__list {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #ddd;
    }

    &__item {
        display: inline-block;
    }

    &__link {
        display: inline-block;
        padding: 0.5rem 1rem;
        background: transparent;
        cursor: pointer;
        color: #148297;
    }

    &__content {
        background: transparent;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
}

[aria-selected="true"].recovery-log-tabs-tabs-tabs__link {
    color: #000;
    background-color: transparent;
    border-bottom: 5px solid #7ba60d;
    color: inherit;
    font-weight: bold;

    &:hover {
        border-bottom: 5px solid #7ba60d;
        color: #000;
    }
}

[aria-selected="false"].recovery-log-tabs-tabs-tabs__link {
    border-bottom: 0;
    color: #000;

    &:hover {
        border-bottom: 5px solid #7ba60d;
        color: #000;
    }
}

[aria-hidden="true"].recovery-log-tabs-tabs-tabs__content {
    display: none;
}

.js-tablist__item a {
    border: 0;
}

/* Table of Contents */

#markdown-toc{
    background: #f8f9fc;
    border: 1px solid #d1d3e2;
    padding: 1rem 3rem;
}

/* NGS documents treeview */

.tree {
    padding-left: .2rem;

  li {
    cursor: pointer;
    list-style-type: none;
  }

  summary:focus {
    outline: none;
  }
      
  summary:focus-visible {
    outline: 1px dotted #000;
  }
}

/* Landing Pages Lists */

.browse-list {
    display: flex; 
    flex-wrap: wrap;
    gap: 2rem; 
    list-style: none; 
    margin: 0 0 2rem 0; 
    padding: 0; 
}

dl.resources-list {
    dd {
        border-bottom: 1px solid #f7f3ef;
        font-size: 85%;
        margin-left: 0;
        padding-bottom: 1rem;
    }
    dt {
        margin-bottom: 0.6rem;
        margin-top: 0.9rem;
    }
}