.data-wrapper {
    b {
      color: #595959;
    }
    h2:first-child {
        margin-top: 0;
    }
    h2 {
        font-size: 1.75rem;
        margin-bottom: .8rem;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    tr > td:nth-child(2) {
        padding-left: 2rem;
    }
    td {
        padding: .1rem 0;
        vertical-align: top;
    }

    .plane-coords {
        border-collapse: collapse;
        font-size: 90%;
        margin-top: 1rem;

        thead > tr:first-child {
            border-bottom: 1px solid gray;
        }
        tr > td:nth-child(2) {
            padding-left: 0;
        }
        th, td {
            padding: 1rem 2rem 1rem 0;
        }
    }
}
.map-wrapper { 
    display: flex;
    flex-direction: column;
    height:500px;
}
.responsive-two-columns {
    display:block;
    column-gap: 1rem;
}
/* tablet breakpoint */
@media (min-width:768px) {
    .responsive-two-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
.ngs-report,
.coordinates-submitted {
    margin: 2rem 0;
    border: 1px solid #e2e4e7;
    padding: 0 1rem;
    background-color: #f8f9fa;
    clear: left;
}
.official-description,
.usgs-report {
    margin-top: 1.2rem;
}
.state,
.county,
.quad {
    text-transform: capitalize;
}
.recovery-notes {
    margin-top: 2rem;
}
.referenceMarks img {
    height: 150px;
    object-fit: cover;
    width: 150px;
}