.data-wrapper ul {
    list-style-type: none;
    padding: 0;
}
.map-wrapper { 
    height:500px;
}
/* container */
.responsive-two-columns {
    display:block;
    column-gap: 1rem;
}
/* columns */
.responsive-two-columns > div:first-child {
    // padding-right: 1rem;
}
/* tablet breakpoint */
@media (min-width:768px) {
    .responsive-two-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
.ngs-report,
.coordinates-submitted {
    margin: 2rem 0;
    border: 1px solid #e2e4e7;
    padding: 0 1rem;
    background-color: #f8f9fa;
    clear: left;
}
.official-description,
.usgs-report {
    margin-top: 1.2rem;
}
.state,
.county,
.quad {
    text-transform: capitalize;
}