.data-map-wrapper {
    display: flex;
    justify-content: space-between;
}
.map-wrapper {
    width: 800px; 
    height:600px;
    float: right;
}
.ngs-report,
.coordinates-submitted {
    margin: 2rem 0;
    border: 1px solid #e2e4e7;
    padding: 0 1rem;
    background-color: #f8f9fa;
    clear: left;
}
.official-description {
    margin-top: 1.2rem;
}
.state,
.county,
.quad {
    text-transform: capitalize;
}