.airway-beacons-table {
    font-size: 75%;
}
.box {
    background-color: #fafafa;
    border: 1px solid #d9d9d9;
    margin: 1rem;
    max-width: 30%;
    padding: 2rem;

    &.alignright {
        margin-right: 0;
    }
}