#profileImage {
    background-color: #ffffff;
    border-radius: 50%;
    float: right;
    height: auto;
    max-width: 170px;
    padding: 4px;
    box-shadow: 0 1px 2px #666666;
}
.background {
    background-image: url('/assets/img/stacked-waves-haikei-greenish.png');
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
}

header {
    display: grid;
    grid-template-areas: "hero";
    height: 28em;
    max-height: 600px;
    align-items: center;
    justify-content: center;

        > * {
        grid-area: hero;
        }

        .hero__content {
        text-align: left;
        max-width: 800px;

        h1 {
            color: #ffffff;
            font-size: 3rem;
            margin-top: 0;
            text-shadow: 2px 2px 5px black;
        }

        p {
            color: #ffffff;
            font-size: 1.5rem;
            font-weight: 400;
            text-shadow: 2px 2px 5px black;
        }
        .button {
            color: #ffffff;
        }
    }
}