<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  
  {% include head.html %}

  <body>

    {% include nav.html %}

    <main class="default-template home">

      <section id="banner"></section>

        <div class="grid-container">

          <a href="/survey-mark-hunting">
            <div class="grid-item">
              <div class="image">
                <img src="/assets/img/logo.png" alt="">
              </div>
              <div class="section-text">
                <h2>Survey Mark Hunting</h2>
              </div>
            </div>
          </a>
          <a href=".survey-data">
            <div class="grid-item">
              <div class="image">
                <img src="/assets/img/logo.png" alt="">
              </div>
              <h2>Survey Data</h2>          
            </div>
          </a>
          <a href="airway-beacons">
            <div class="grid-item">
              <div class="image">
                <img src="/assets/img/logo.png" alt="">
              </div>
              <h2>Airway Beacons</h2>
            </div>
          </a>

        </div>

    </main>
    
    {% include footer.html %}  

  </body>
</html>