<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  
  {% include head.html %}

  <body>

    {% include nav.html %}

    <main class="default-template home">

      <section id="banner"></section>

        <div class="grid-container three-col">
          <a href="/survey-mark-hunting">
            <div class="grid-item">
              <div class="image">
                <img src="/assets/img/benchmark-icon.png" alt="">
              </div>
              <div class="section-text">
                <h2>Survey Mark Hunting</h2>
                <!-- <p>Follow Zhanna's adventures and learn about how to search for survey markers</p> -->
              </div>
            </div>
          </a>          
          <a href="/survey-data">
            <div class="grid-item">
              <div class="image">
                <img src="/assets/img/data-icon.png" alt="">
              </div>
              <div class="section-text">
                <h2>Survey Mark Data</h2>
                <!-- <p>Current and historical data from NGS, USGS, and other agencies</p>   -->
              </div>        
            </div>
          </a>
          <a href="/airway-beacons">
            <div class="grid-item">
              <div class="image">
                <img src="/assets/img/beacon-icon.png" alt="">
              </div>
              <div class="section-text">
                <h2>Airway Beacons</h2>
                <!-- <p>History, images, and maps related to historical airway beacons in the U.S.</p> -->
              </div>
            </div>
          </a>
        </div>

        <section class="recent-recoveries">
          <div class="section-text container"><h2>Recent Survey Mark Recoveries</h2></div>
          <div class="grid-container three-col center">
            {% include recent-recoveries-home.html %}
          </div>
        </section> 

      <section class="blog">
        <div class="section-text container"><h2>Recent Posts</h2></div>
        <div class="grid-container two-col">
          {% include recent-posts.html %}
        </div>
      </section>  
    </main>
    
    {% include footer.html %}  

  </body>
</html>