---
layout: default
---

<h2>{{ page.state }}</h2>

{% assign allMarks = site.surveymarks | concat: site.reference_marks | where: "state", page.state %}

{% assign counties = page.county %}

{% for county in counties %}
  <h3 id="{{ county.name | slugify }}">{{ county.name }}</h3>
  {% assign quads = county.quad %}
  {% for quad in quads %}
    <h4 id="{{ county.name | slugify }}-{{ quad.name | slugify }}">{{quad.name}}</h4>
      <ul>
        {% for mark in allMarks %}          
          {% if mark.county == county.name %} 
            {% if mark.quad == quad.name %}
              <li><a href="{{mark.url}}">{{ mark.designation }}</a> <i>({{ mark.date | date: "%B %e, %Y" }})</i></li> 
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
  {% endfor %}
  <hr style="border-top: 1px solid rgb(229, 229, 229);">
{% endfor %}
