---
layout: default
---

<h1>{{ page.title }}</h1>

<div id="accordion" class="accordion">

  {% for mark in site.data.local-control-monument-databases %}

  <button class="accordion-button" aria-expanded="false" aria-controls="panel-{{ forloop.index }}">{{ mark.state }}<span
      class="accordion-icon">&plus;</span></button>
  <div class="panel" id="panel-{{ forloop.index }}">
    <ul>
      {% for entry in mark.databases %}
      <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
      {% endfor %}
    </ul>
  </div>

  {% endfor %}

</div>



<section class="comments">
  {% include comment-form.html %}
</section>