--- 
layout: default
---

<h1>{{ page.title }}</h1>

<section id="accordion" class="accordion">
    <div class="accordion-container">
        {% for mark in site.data.local-control-monument-databases %} 
    
          <div class="accordion-item">
            <button class="accordion-trigger" id="accordion-trigger-{{ forloop.index }}" aria-expanded="false" aria-controls="accordion-content-{{ forloop.index }}">
              <span class="accordion-title">{{ mark.state }}</span>
              <span class="accordion-icon">&plus;</span>
            </button>
            <div class="accordion-content" id="accordion-content-{{ forloop.index }}" role="region" aria-labelledby="accordion-trigger-{{ forloop.index }}">
                <ul>
                {% for entry in mark.databases %}
                    <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>    
                {% endfor %}
                </ul>
            </div>
          </div>
     
        {% endfor %}
    </div>
</section>

<section class="comments">
  {% include comment-form.html %}
</section>

