---
layout: default
---

{% capture imagePath %}https://images.planetzhanna.com/{{ page.date | date: "%Y/%m/%d" }}/{% endcapture %}
{% capture thumb %}https://images.planetzhanna.com/{{ page.date | date: "%Y/%m/%d" }}/thumbnails/{% endcapture %}
{% capture date %}{{ page.date | date: "%B %e, %Y" }}{% endcapture %}

<h1>{{ page.designation }}</h1>

<div class="data-map-wrapper responsive-two-columns">
    <div class="data-wrapper">
        <div class="status box box-narrow inline-block">
            {% if page.status == "Recovered" %}
              <span><b>Recovered in {{ page.condition }} Condition</b> on {{ date }}</span>
            {% elsif page.status == "Not Found" %}
              <span><b>Not Found</b> as of {{ date }}</span>
            {% else %}        
              <span><b>Note Entered</b> on {{ date }}</span>
            {% endif %}
            {% if page.previous_date %}
              <span><i><a href="{{ page.previous_permalink }}">{{ page.previous_text }}</a> ({{ page.previous_date | date: "%B %e, %Y" }})</i></span>
            {% endif %}
            {% if page.update_date %}
              <span><i><a href="{{ page.update_permalink }}">Update</a> ({{ page.update_date | date: "%B %e, %Y" }})</i></span>
            {% endif %}
        </div>
        
        <h2>Spatial/elevation data</h2>
        <table>
            <tr>
                <td><b>Coordinates</b></td>
                <td>N {{ page.latitude }}° W {{ page.longitude }}° 
                    {% if page.estimate %}
                        (estimate)
                    {% endif %}</td>
            </tr>
            <tr>
                <td><b>Elevation</b></td>
                <td>{% if page.elevation %}
                    {{ page.elevation }}
                {% else %}
                    Unknown
                {% endif %}</td>
            </tr>
            <tr>
                <td><b>Location</b></td>
                <td><a href="/location/{{ page.state | slugify }}">{{ page.state }}</a>
                    <br>&nbsp;&nbsp;&nbsp;<a href="/location/{{ page.state | slugify }}#{{ page.county | slugify }}">{{ page.county }}</a>
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                        href="/location/{{ page.state | slugify }}#{{ page.county | slugify }}-{{ page.quad | slugify }}">{{ page.quad }}</a></td>
            </tr>
        </table>
        <h2>Mark description</h2>
        <table>
            <tr>
                <td><b>Type</b></td>
                <td><a href="/marker-type/{{ page.type | remove: '/' | slugify }}">{{ page.type }}</a></td>
            </tr>
            <tr>
                <td><b>Setting</b></td>
                <td>{{ page.setting }}</td>
            </tr>
            <tr>
                <td><b>Monumented</b></td>
                {% if page.agency == "Unknown" %}
                    <td>{{ page.year_established }} by <a href="/agency/unknown">Unknown Agency</a></td>
                {% else %}
                    <td>{{ page.year_established }} by <a href="/agency/{{ page.agency | slugify }}">{{ page.agency }}</a></td>
                {% endif %}
            </tr>
            <tr>
                {% if page.pid %}
                <td class="official-description"><b>Description (NGS)</b></td><td><a
                        href="https://www.ngs.noaa.gov/cgi-bin/ds_mark.prl?PidBox={{ page.pid }}">NGS Datasheet</a></td>
                {% elsif page.official_description %}
                <td class="official-description"><b>Description ({{ page.agency}})</b></td><td>{{ page.official_description }}</td>
                {% endif %}
                {% if page.usgs_report %}
                <span class="usgs-report"><a href="{{ page.usgs_report_link }}">View my report to USGS</a></span>
                {% endif %}
            </tr>
        </table>
    </div>
    <div class="map-wrapper">
        {% include map.html %}
    </div>
</div>

{% if page.coordinates_submitted %}
<p class="coordinates-submitted">Updated GPS coordinates have been submitted to NGS.</p>
{% endif %}

{% if page.photos_submitted %}
<p class="photos-submitted">Photos of this mark have been submitted to NGS.</p>
{% endif %}

{% if page.ngs_report %}
    {% unless page.ngs_report_text %}
    <div class="ngs-report">A report on the condition of this survey mark has been submitted to NGS.</div> 
    {% endunless %}   
{% endif %}

{% if page.ngs_report_text %}
<div class="ngs-report">A report on the condition of this survey mark has been submitted to NGS, along with the following recovery note: {{ page.ngs_report_text | markdownify }}</div>
{% endif %}

<h2>Narrative and photographs</h2>

<div class="parent-mark"><i>For more information about this reference mark, see its parent mark </i><a href="/surveymarks/{{ page.parent }}">{{ page.parent_name }}</a>.</div>

<div class="recovery-notes">
    {% if page.rich_text %}
    <div class="js-tabs" data-existing-hx="h2" data-tabs-prefix-class="recovery-log-tabs-tabs">
        <ul class="js-tablist">
            {% if page.zhanna_text %}
            <li class="js-tablist__item">
                <a href="#id_first-{{ forloop.index }}" class="js-tablist__link" data-selected="1">Zhanna's report</a>
            </li>
            {% endif %}
            {% if page.rich_text %}
            <li class="js-tablist__item">
                <a href="#id_second-{{ forloop.index }}" class="js-tablist__link">Rich's report</a>
            </li>
            {% endif %}
        </ul>
        {% if page.zhanna_text %}
        <div id="id_first-{{ forloop.index }}" class="js-tabcontent">
            {{ page.zhanna_text | markdownify }}
            {% assign gal_zh_class = page.image_gallery_zh_class %}
            {% include gallery.html gallery_id="gallery_zh" class=gal_zh_class %}
        </div>
        {% endif %}
        {% if page.rich_text %}
        <div id="id_second-{{ forloop.index }}" class="js-tabcontent">
            {{ page.rich_text | markdownify }}
            {% assign gal_r_class = page.image_gallery_r_class %}
            {% include gallery.html gallery_id="gallery_r" class=gal_r_class %}
        </div>
        {% endif %}
    </div>
    {% else %}
    {{ page.zhanna_text | markdownify }}
    {% assign gal_zh_class = page.image_gallery_zh_class %}
    {% include gallery.html gallery_id="gallery_zh" class=gal_zh_class %}
    {% endif %}
</div>

<section class="comments">
    {% include comment-form.html %}
</section>