---
layout: default
---

<h1>{{ page.designation }}</h1>

<div class="data-map-wrapper">
    <div class="data-wrapper">
        <ul>
            <li><b>Coordinates:</b> N {{ page.latitude }}° W {{ page.longitude }}°</li>
            <li><b>Location:</b> <a href="/locations/states#{{ page.location[0] | slugify }}">{{ page.location[0] }}</a> - <a href="/locations/counties#{{ page.location[1] | slugify }}">{{ page.location[1] }}</a> - <a href="/locations/quads#{{ page.location[2] | slugify }}">{{ page.location[2] }}</a></li>
            <li><b>Elevation:</b> {{ page.elevation }}</li>
            <li><b>Type:</b> <a href="/marker-types#{{ page.type | slugify }}">{{ page.type }}</a></li>
            <li><b>Setting:</b> {{ page.setting }}</li>
            <li><b>Year Established:</b> {{ page.year_established }}</li>
            <li><b>Established By:</b> {{ page.agency }}</li>            
            <li><b>Status:</b> {{ page.status }}</li>
            <li><b>Condition:</b> {{ page.condition }} as of {{ page.date | date: "%B %d, %Y" }}</li>
        </ul>
        <p>Official Description: <li>{{ page.official_description }}</li></p>
    </div>
    <div class="map-wrapper">
        {% include map.html %}
    </div>
</div>

<p>{{ page.zhanna_text | markdownify }}</p>

<p>{{ page.ngs_report_text }}</p>