<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

{% include usgs-head.html %}

<body {% unless page.search_ignore %} data-pagefind-body {% endunless %}>
  {% include nav.html %}
  <main class="default-template">
    <pagefind-modal-trigger shortcut="/"></pagefind-modal-trigger>
    <pagefind-modal id="search-modal">
      <pagefind-modal-header>
        <pagefind-input></pagefind-input>
      </pagefind-modal-header>
      <pagefind-modal-body>
        <pagefind-summary></pagefind-summary>
        <pagefind-results show-images hide-sub-results></pagefind-results>
      </pagefind-modal-body>
      <pagefind-modal-footer>
        <pagefind-keyboard-hints></pagefind-keyboard-hints>
      </pagefind-modal-footer>
    </pagefind-modal>

    <div class="container">

      {% if page.title != "Index" %}
      <h1 data-pagefind-meta="title">USGS Datasheets: {{ page.title }}</h1>
      <div data-pagefind-body style="display:none;">
        Scanned USGS datasheets for {{ page.title | strip_html }}
      </div>
      {% else %}
      <h1 data-pagefind-meta="title">USGS Datasheets</h1>
      {% endif %}

      {% if page.additional_text %}
      <p>{{ page.additional_text | markdownify }}</p>
      {% endif %}

      {{ content }}

      {% if page.title == "Index" %}
      <ul>
        {% for item in site.data.states-usgs-datasheets %}
        {% if item.dev == false %}
        <li><a href="/usgs-datasheets/{{ item.state | slugify }}">{{ item.state }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
      {% endif %}

      {% if page.title != "Index" %}
      <section class="post-navigation">
        <a class="prev-post" href="/usgs-datasheets" title="USGS Datasheets index" alt="USGS Datasheets index">USGS
          Datasheets</a>
      </section>
      {% endif %}

      <section class="comments">
        {% include comment-form.html %}
      </section>

    </div>
  </main>

  {% include usgs-footer.html %}

  <script>
    function openPagefindSearch(e) {
      e.preventDefault();

      const modal = document.querySelector("#search-modal");

      if (!modal) return;

      // Wait until the custom element is ready
      if (customElements.get("pagefind-modal")) {
        modal.open();
      } else {
        customElements.whenDefined("pagefind-modal").then(() => {
          modal.open();
        });
      }
    }
  </script>

</body>

</html>