<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  
  {% include usgs-head.html %}

  <body>
    {% include nav.html %}
    <main class="default-template">
    
      {% if page.title != "Index" %}
        <h1>USGS Datasheets: {{ page.title }}</h1>
      {% else %}
        <h1>USGS Datasheets</h1>
      {% endif %}

      {% if page.additional_text %}
        <p>{{ page.additional_text | markdownify }}</p>
      {% endif %}

      {{ content }}

      {% if page.title == "Index" %}
      <ul>
        {% for item in site.data.states-usgs-datasheets %}
          <li><a href="/usgs-datasheets/{{ item.state | slugify }}">{{ item.state }}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
      
    </main>
    
    {% include usgs-footer.html %}  

  </body>
</html>