.comments {
    padding-top: 3rem;
}
.comment-reply-header {
    font-size: 1.6rem;
    font-family: "InterDisplay", "Source Sans Pro", sans-serif;
    font-weight: 600;
    margin-top: 2em;
    margin-bottom: .5em;
}